node_modules
**/.next/**
**/_next/**
**/dist/**
**/__tmp__/**
lerna.json
.github/actions/next-stats-action/.work
.github/actions/issue-validator/index.mjs
test-timings.json
test/**/out/**
bench/nested-deps/pages/**/*
bench/nested-deps/components/**/*
pnpm-lock.yaml
**/convex/_generated/**
